@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: forest;
}

body {
font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ROND" 70;
}