---
import Main from "../layouts/Main.astro"

import DefaultBackground from "../layouts/DefaultBackground.astro"
---

<Main>
	<DefaultBackground dark_theme={true} doodle_count=32>

		<div class="flex h-full">
	
		<div class=" w-full flex flex-col items-center min-h-dvh p-5">
			<div class="bg-base-300/30 w-full max-w-7xl backdrop-blur-md shadow-2xl rounded-md border border-base-100 flex flex-col items-center overflow-clip ">
				
				<div class="  w-full h-full p-5 flex flex-col items-center shadow-2xl">
					<h1 class="whitespace-nowrap text-6xl my-6" style="font-family: UnifrakturCook; ">🌵 Vagalehns 🌵</h1>
					<div class="flex justify-center gap-5">
						<p>/test</p>
						<p>/test</p>
						<p>/test</p>
						<p>/test</p>
						<p>/test</p>
					</div>
				</div>

				<div class=" p-5">
					<p class=" whitespace-break-spaces">
Hi!  
I'm a developer from Latvia. I'm currently working on getting my degree in Computer Science. I love learning new skills and have experimented with all the technologies and programming languages I could get my hands on. My strongest experience is with Python and website design.  
Here are some of my favorite programming projects:

I'm also interested in CAD, microelectronics, 3D animation, filmmaking, storytelling, video editing, game design, VFX, logo design, drawing, poetry, and most things creative.  
These are some of my projects:

I speak Latvian, English, and Russian, have some experience with German, and I am currently learning Spanish. I love Spanish. I'm also interested in history, paleontology, biology, astronomy, physics, politics, and economics in my free time.  
These are some of my favorite books:

I would love to work on any project that combines creativity with technology.  
Feel free to contact me on any of these platforms:
					</p>
			</div>
			</div>
		</div>
	</div>
	</DefaultBackground>
</Main>
