---
import Main from "../layouts/Main.astro"

import DefaultBackground from "../layouts/DefaultBackground.astro"
---

<Main>
	<DefaultBackground dark_theme={true} doodle_count=32>

		<div class="flex h-full">
	
		<div class=" w-full flex flex-col items-center min-h-dvh p-5">
			<div class="bg-base-300/30 w-full max-w-7xl backdrop-blur-md shadow-2xl rounded-md border border-base-100 flex flex-col items-center overflow-clip ">
				
				<div class="  w-full h-full p-5 flex flex-col items-center shadow-2xl">
					<h1 class="whitespace-nowrap text-6xl my-6" style="font-family: UnifrakturCook; ">🌵 Vagalehns 🌵</h1>
					<div class="flex justify-center gap-5">
						<p>/test</p>
						<p>/test</p>
						<p>/test</p>
						<p>/test</p>
						<p>/test</p>
					</div>
				</div>

				<div class=" p-5">
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum nemo officia molestiae quam aut dolorem ducimus provident veritatis aliquid mollitia sint nostrum ipsa, libero vero assumenda? Quaerat ducimus at necessitatibus!
					Recusandae, nam minus! Esse animi eaque deleniti praesentium, architecto quibusdam sequi ipsam, quae, nostrum recusandae corporis veritatis vitae sint tempore dolore? Maiores ex repellat illo iure non veritatis vel atque?
					Excepturi aspernatur expedita adipisci tempora reprehenderit, fuga tenetur similique accusamus ipsam perspiciatis hic amet rem aperiam repellendus tempore ex qui ipsum cum rerum neque architecto recusandae doloremque exercitationem quaerat! Minima!
					Deleniti earum labore, laudantium ea, odit, distinctio neque soluta rem quidem similique magni debitis. Illum exercitationem repudiandae dignissimos veniam hic et, a pariatur natus odio nihil rerum, maiores alias doloremque.
					Assumenda, ad ex? Cumque saepe atque dolorum numquam expedita suscipit labore alias ipsa tempore! Dolores molestias quam, laborum atque odit vitae perspiciatis sunt in fugit veritatis itaque incidunt quod corrupti.
					Earum at doloribus ipsum totam similique iste, aliquid expedita, cumque nam inventore itaque cum consectetur et voluptas laudantium aperiam asperiores optio quisquam obcaecati debitis eligendi doloremque. Distinctio non nemo ratione?
					Necessitatibus est similique in maiores non repudiandae perspiciatis fuga voluptas suscipit, aperiam a nemo sint ipsa doloribus quae magnam voluptates quibusdam consequuntur! Labore, sit consequatur. Quae laborum reiciendis recusandae ipsam?
					Vitae eum quibusdam molestiae alias. In, ea alias aliquid animi cum, nemo possimus accusantium et ullam hic esse aut dolore asperiores saepe odio rem atque nobis temporibus. Eos, sapiente a?
					Deserunt laboriosam accusamus totam, magnam nisi dolores harum quam debitis, quia cupiditate sapiente itaque mollitia libero non obcaecati magni, voluptatum id reiciendis quaerat nobis officia iusto hic. Cum, fugiat inventore.
					Ullam nostrum dolorum beatae incidunt est nemo inventore deleniti repellendus dicta magni, consequuntur atque suscipit tempora id labore quod commodi sapiente aspernatur tempore similique enim blanditiis! Impedit repudiandae ullam amet.
					Rerum laudantium amet, officiis autem odit, obcaecati eveniet aut rem, doloribus fugit eos? Consequuntur porro in eius fugit eveniet. Obcaecati a laborum qui id rem reiciendis optio autem ab quam.
					Distinctio vitae ipsum saepe cumque accusamus animi facilis quod esse eligendi perferendis aliquid sed provident magnam, sunt alias, at natus nihil cupiditate unde, praesentium ad dicta quaerat! Necessitatibus, magnam sequi?
					Sed, aliquam minus dolorum voluptatibus quasi culpa assumenda incidunt inventore, eos nesciunt sunt excepturi officia natus, explicabo illo a modi laboriosam. Cupiditate temporibus in, laudantium saepe itaque explicabo quos et.
					Ipsa, laudantium maxime quae itaque obcaecati mollitia dignissimos esse? Quasi corporis voluptates autem ducimus laudantium ullam a labore nobis vitae animi magnam quis error, earum necessitatibus eius accusantium? Odio, possimus!
					Vero doloribus fugiat maxime minus quae ex modi, fugit molestias esse, quidem quam magnam corrupti neque necessitatibus ut, tempora harum ipsum provident quibusdam autem cupiditate? Nisi tempore culpa distinctio hic.
					Dolorem iste nesciunt amet aliquam, dolor tenetur adipisci culpa, expedita laborum laudantium, esse dignissimos ad iusto voluptatum? Laborum asperiores tempora, ut numquam enim sit fuga, eum eligendi perspiciatis facilis temporibus.
					Ea molestiae neque eligendi accusamus, delectus dolorem laboriosam beatae suscipit doloremque provident possimus esse laudantium, incidunt eveniet hic omnis doloribus consequatur ut laborum error aliquid rem? Magni corporis beatae unde!
					Corporis amet vitae vero nulla nostrum consectetur autem exercitationem culpa porro nesciunt illo neque commodi maxime mollitia non velit, fuga sequi modi eum ab nam obcaecati eveniet! Doloremque, ullam accusantium?
					Iusto aliquid suscipit modi nulla similique tenetur explicabo repellendus dolorem quis doloremque? Eveniet provident voluptate eaque incidunt blanditiis. Praesentium, et maxime! Nisi accusamus deserunt dolorem ducimus nobis quam earum obcaecati!
					Reiciendis quibusdam fuga recusandae iste atque pariatur id voluptatem sint iusto alias tempora illum neque dolorum porro veniam suscipit laboriosam eligendi nulla animi quod, dolores omnis! Magnam obcaecati velit nam?
					Saepe sint asperiores voluptatem fugit neque quidem numquam, odio quaerat accusantium debitis officia recusandae eos, est repudiandae atque reiciendis magni impedit vitae molestiae dolore corrupti aperiam quas? Sapiente, earum autem?
					Quis magni veritatis sit voluptas sequi incidunt quos aliquid tenetur maxime exercitationem error tempore fugiat, omnis vitae totam laboriosam iusto perspiciatis ex earum illo beatae. Quae dicta ut ab ducimus.
					Et id quisquam porro vero ipsum tenetur non ipsam, quam architecto reiciendis officiis doloribus facilis atque vel consequuntur tempora odit quod culpa! Ratione quae deleniti eveniet praesentium animi officiis! At.
					Neque repellat error deleniti id assumenda suscipit perferendis vitae incidunt facilis dolorem fugit ipsum in, ducimus laborum dicta quos aliquam harum fuga, eos praesentium. Laborum quo ipsam illo facilis ut!
					Voluptates in cum dolor quod, inventore dolorem facilis ipsum. Dolores, eos nam amet quaerat soluta saepe maxime obcaecati asperiores omnis quidem voluptatem impedit voluptatum sequi, voluptatibus expedita recusandae, doloribus illo.
					Optio laboriosam, impedit porro assumenda deleniti rem architecto repudiandae velit eveniet. Dolores recusandae eligendi dolorem dolorum tenetur! Atque pariatur a, incidunt delectus esse sint, quo expedita quod dolorum voluptate accusamus.
					Adipisci quos quis repellat odio cum reiciendis saepe facilis voluptates. Quia amet repellendus eveniet impedit nisi nam. Accusantium quasi vel earum animi! Nesciunt debitis laudantium pariatur? Esse nisi culpa nulla!
					Reiciendis, recusandae ad eos amet voluptatem quidem distinctio in rerum iste placeat aspernatur tenetur alias ex deserunt repellat est. Similique libero fuga non dicta odit suscipit explicabo nihil minima minus!
					Odit eius, reprehenderit unde, molestiae cupiditate rem sint neque dolores rerum corrupti, similique assumenda! Aut iusto similique, laboriosam doloremque minus provident obcaecati itaque libero ducimus consectetur inventore quas, quibusdam modi.
					Atque aut velit expedita fugiat aperiam beatae dolor magnam assumenda ullam blanditiis, eos obcaecati commodi dolorem. Recusandae laborum maxime vel quae eius ullam nisi unde corrupti laudantium. Omnis, vitae id?
					Iste cupiditate distinctio nostrum architecto voluptatibus ab, reiciendis, sint voluptas itaque, omnis voluptatem error autem quas inventore velit porro doloribus asperiores deleniti repellendus earum atque ut facilis. Nisi, cum nihil.
					Reprehenderit, modi ut. Laborum aspernatur reiciendis nam veritatis vitae obcaecati, veniam temporibus officiis impedit dicta itaque totam, delectus sapiente! Deserunt maiores ad officiis illo molestiae doloribus nobis placeat, sunt laborum!
					Ut nihil quidem repellat velit doloribus, ipsum veritatis fuga quasi inventore aperiam assumenda? Adipisci quas, quos sed labore dolorum reiciendis cumque minus nobis unde repellat ullam nihil laboriosam beatae numquam?
					Ab temporibus placeat amet praesentium laborum? Harum quo veniam totam dignissimos libero ipsam beatae enim temporibus expedita architecto earum possimus, ad itaque atque dolores repellat odit similique voluptate! Ipsam, sit.
					Porro consequatur deserunt molestias, facere, veritatis ex possimus eum impedit nesciunt saepe harum aperiam. Explicabo ipsam quos cumque optio molestias officia earum id hic molestiae, ullam, reiciendis quisquam unde amet.
					Vel illo quas eveniet doloribus quia iste excepturi? Blanditiis corrupti ad est inventore architecto in expedita velit. Minima et exercitationem sapiente modi. Doloribus cumque, corporis nam laboriosam assumenda nobis nesciunt.
					Dolores cum, officiis quos autem non necessitatibus! Pariatur accusamus recusandae voluptatem rerum saepe, nulla perspiciatis sit deleniti exercitationem? A, modi omnis! Impedit sit pariatur consequatur quos voluptatibus dolore, adipisci id?
					Repellat tempora illum quo reprehenderit, aliquam omnis fugiat. Quo est quibusdam magni natus quam rerum sunt tempora commodi, incidunt dolorem eligendi quaerat porro debitis. Velit consequatur expedita quos veniam quae?
					Nihil molestiae illum culpa, nobis eligendi adipisci veniam, vitae corporis quia inventore laborum veritatis sed porro autem itaque, corrupti hic totam in ea tenetur reprehenderit! Maxime dolore autem est iure.
					Ducimus ipsa, fugiat veniam omnis quia nihil temporibus perspiciatis nesciunt molestiae nulla voluptatum, asperiores quidem voluptatibus illo aspernatur reprehenderit laudantium? Ea aut eos architecto aperiam incidunt nam quod expedita eveniet.
					Doloremque quos voluptate fugit expedita, quod voluptatum alias odio labore ullam ducimus, aut beatae autem magnam exercitationem et? Velit eum possimus quas exercitationem provident pariatur molestiae incidunt esse, laborum ratione!
					Iste modi nesciunt consequuntur? Omnis magni voluptatum quidem adipisci, cupiditate officiis labore aspernatur ducimus laborum necessitatibus repellat, atque a ullam dicta molestias. Nobis sunt sit, sint est aut voluptas accusamus?
					Iure doloribus magni fuga minus obcaecati cum corporis numquam earum sunt voluptate fugiat vel, exercitationem modi, deserunt molestiae eligendi tenetur consequuntur qui sint recusandae dicta laborum alias? Commodi, iure aliquam!
					Ex molestias temporibus odit debitis sunt necessitatibus corporis hic sed incidunt cum dolor est recusandae expedita illum perspiciatis reiciendis culpa distinctio explicabo, tempore fuga libero, totam quod ut! Vitae, sed!
					Asperiores ipsa, adipisci beatae deleniti aliquam consequatur earum repellat exercitationem nostrum, perferendis aut fugiat ab porro reiciendis harum itaque magni nulla distinctio incidunt molestias? At consectetur tenetur saepe expedita facilis?
					Repudiandae maiores quo hic in ipsam? Aspernatur dicta cumque debitis recusandae sunt praesentium harum, quaerat qui vero error ea deserunt, eius nihil incidunt placeat explicabo possimus consectetur doloremque deleniti in!
					Laudantium rem, cum sapiente et eum adipisci dolore saepe natus officiis, id sit? Voluptatibus vero maiores ea. Labore, reprehenderit repudiandae praesentium cumque quis alias, explicabo blanditiis expedita laborum sit autem!
					Sequi, ab illum ullam architecto tempore recusandae corrupti neque, mollitia commodi, a sunt molestiae officia ducimus suscipit aspernatur. Recusandae nulla dolorum quam quibusdam doloribus voluptas, eum culpa maxime enim distinctio.
					Sunt recusandae autem eos eaque ducimus id libero explicabo, non ex consequuntur voluptatibus. Officia ducimus tenetur laborum mollitia iusto placeat assumenda nam, accusantium esse a molestias beatae ab illum recusandae.
					Doloribus error libero ullam blanditiis cum aliquid, praesentium in ipsam id dignissimos cumque modi doloremque fugiat? Delectus officia facere dicta itaque, eveniet officiis incidunt magni! Vero atque dolor voluptates ipsum?
					Iusto corrupti consectetur magni commodi nisi ipsa accusantium inventore voluptatum assumenda mollitia molestias eos praesentium laudantium labore eveniet non quaerat voluptatem aperiam, at quos. Alias adipisci cum quis. Nostrum, ea.
					Voluptas sed alias praesentium et dolore? Repellat optio cupiditate libero maiores voluptatibus deserunt eum vero voluptates ullam? Deleniti nulla libero, debitis illo, distinctio porro minus laborum veritatis ex animi in!
					Ipsa similique saepe dolore repellendus vel. Sint iste ducimus, in molestiae sed architecto aut, unde officiis amet autem nisi quod ab. Minima saepe qui non ullam sit nesciunt a unde.
					Ullam corporis accusantium reiciendis debitis qui blanditiis nostrum nam expedita amet necessitatibus officia reprehenderit veritatis, impedit facilis iure cum harum ut culpa soluta laboriosam iste quaerat? Ducimus vero delectus voluptatibus!
					Aperiam iure sint quos dolorem doloribus harum ad deleniti fuga quia molestiae ab tenetur magnam nobis, corporis adipisci sequi laborum eum asperiores sit, accusantium modi, atque optio. Eaque, numquam recusandae?
					Commodi iure illo facilis consequatur ea dicta sapiente dolores. Voluptatibus, explicabo. Maiores molestias eum ab quo odit voluptates et provident reiciendis nemo in modi veritatis sapiente, quasi deleniti quae molestiae!
					Harum repudiandae possimus sint placeat reprehenderit, deserunt officiis repellendus? Ab cupiditate maxime eaque officiis minus optio, natus, ut, quod sunt sint voluptatibus nemo nihil deserunt error. Perferendis vitae aliquam perspiciatis?
					Ipsam unde illo perspiciatis minus ratione natus, a quibusdam doloribus minima totam modi labore sequi in quidem ullam dolores, distinctio rem corporis debitis reprehenderit obcaecati id similique, asperiores laudantium! Repudiandae!
					Consequatur, sunt. Autem corrupti repellat obcaecati labore. Voluptate delectus tenetur laborum repellat consequatur nostrum distinctio, animi dolorum asperiores a perspiciatis eaque sapiente odit itaque sit aliquid sed. Praesentium, accusamus harum.
					Illo, non qui quis iste soluta laudantium sapiente quibusdam ex. Corporis nulla, laborum officia vitae sequi iure qui quod fugit, possimus suscipit aut porro ad facilis nobis voluptatum praesentium saepe.
					Natus nisi eveniet et nulla quibusdam! Culpa excepturi minima facilis veniam facere. Culpa quod facere earum, odio alias quae tenetur sit nesciunt esse, enim facilis corrupti nemo doloribus suscipit eligendi?
					Aperiam quam similique, deserunt enim veniam iste nostrum sit autem officia aliquam ullam libero vero labore! Magnam totam, facilis impedit, fuga tempora necessitatibus, sunt ipsam officiis enim deleniti natus saepe.
					Laudantium molestias, corrupti deserunt, iure dolor quam mollitia, ipsa cupiditate ut neque doloribus? Temporibus eum deleniti quasi quod facere maxime sed omnis, repellat nam at harum. Laborum laudantium veritatis quidem?
					Exercitationem repudiandae, sit odio non temporibus nesciunt esse quibusdam rem eum numquam. Accusantium aliquam doloribus molestias obcaecati quidem voluptatibus inventore vitae praesentium reiciendis, necessitatibus recusandae. Enim temporibus impedit tempore consectetur!
					Itaque aliquid iure aliquam quidem quasi quibusdam? Veniam modi explicabo ipsa ratione illo maxime ea quaerat, a accusamus distinctio reprehenderit tenetur temporibus hic! Vel officiis reiciendis dicta porro quae fugiat?
					Velit, ab in! Minus accusantium quia necessitatibus optio nulla alias cumque non error aliquid illum, labore qui? Pariatur rem ut qui, nihil fugiat aperiam alias impedit laboriosam veniam repellat beatae.
					Architecto hic, illo nam facere exercitationem iure provident unde fugit voluptatibus, ipsam culpa cum rem molestiae iste in. Minus nisi aspernatur odio neque sunt laborum repudiandae nesciunt, nihil recusandae repellendus?
					Non perferendis labore quasi atque saepe minima porro natus quis, deserunt hic! Voluptatum praesentium, porro numquam amet dolore earum molestiae repellendus doloremque tempore magni, facere distinctio, odio ullam ipsa veritatis!
					Temporibus vero velit corporis praesentium? Voluptates velit iure harum odit ex sed veniam atque, cum facilis quo deserunt distinctio temporibus id neque doloremque, perspiciatis accusamus molestiae? Recusandae facilis quo ipsa?
					Explicabo vero totam dolore quibusdam voluptatum laudantium quia asperiores rerum iure voluptatem, modi consequatur omnis quasi saepe voluptate repellendus voluptas vitae autem accusantium. Placeat, repellendus. Cum quae corporis illum. Facilis.
					Obcaecati at eligendi voluptatem dicta aliquam natus quos magnam, neque in iusto atque enim qui inventore ab deserunt? Labore eos veritatis quas dolore velit autem sunt cum corrupti recusandae nesciunt?
					Qui atque autem commodi, temporibus cum tempore aliquam distinctio delectus dolorem magnam fugit iusto. Laborum, odio vitae mollitia minus ullam fuga nam, sed dicta provident non fugit quas eligendi iure.
					Assumenda quod qui quia odio. Adipisci est, deserunt sed itaque nostrum veniam corporis eligendi repudiandae autem fuga aliquam, hic quis labore ut? Quod, corrupti. Voluptates reprehenderit quae ducimus obcaecati quis?
					Deserunt quisquam odio quasi iusto quis dignissimos facere sapiente nemo in earum, exercitationem quidem laborum autem tempora, incidunt hic minus iste, beatae velit similique? Quis laudantium perferendis laborum minus incidunt.
					Iste soluta omnis quo consequuntur sequi dolorum incidunt minima, accusantium, expedita rerum quas ipsa porro neque sit, commodi sed labore libero minus laborum harum beatae laudantium quis delectus impedit. In.
					Vitae, doloribus! Maxime, impedit consequuntur laborum neque id vel commodi at tempora culpa ad dolores eligendi quas distinctio non doloribus blanditiis vitae quis adipisci molestiae recusandae alias? Optio, exercitationem nihil?
					Iure adipisci eos sit, illum illo tempora? Magni odio quaerat, possimus qui suscipit non, sunt pariatur placeat voluptatibus numquam ab recusandae, in dolor saepe sint? Consequatur molestias hic laborum suscipit!
					Deleniti veniam, suscipit iste aperiam doloribus repellat tempore hic delectus itaque quibusdam reiciendis et dicta eaque deserunt est numquam vero maiores vitae commodi eius enim cupiditate. Eaque doloremque hic odit.
					Id aliquam illum, accusamus iusto voluptate tempore nobis consequatur sunt iste, a libero molestias. Molestiae ipsa officia quo omnis aspernatur non, provident, tenetur assumenda ratione consectetur facere saepe soluta unde.
					Minus quaerat, architecto provident vitae doloremque fuga impedit eaque cupiditate quod modi autem omnis, praesentium, libero sunt beatae eligendi totam rem reprehenderit ab animi? Laboriosam possimus nisi fuga reprehenderit minima.
					Repudiandae cupiditate reprehenderit adipisci, reiciendis omnis ullam quae ab laborum et dolorum nisi vero tempora, non perferendis quibusdam! Fugiat, harum distinctio quibusdam eveniet autem sint consequuntur ad nulla culpa quo?
					Excepturi, repellat? Rem magnam architecto ducimus iure dolorum. Fugiat provident autem, neque ut officia possimus illum cum aspernatur eos velit consectetur quasi sequi, dolorem recusandae earum repudiandae nesciunt voluptatibus mollitia!
					Quas, unde voluptatum molestiae nam nesciunt accusantium impedit a consequatur cum neque, suscipit reprehenderit magni quaerat sapiente necessitatibus! Ipsam voluptates, reprehenderit nobis veniam incidunt corporis quia accusamus tempora sunt perferendis.
					Minus autem ducimus ipsa natus eaque nulla, quibusdam ab odit molestias nemo asperiores iusto ea magni assumenda, qui voluptatum voluptatibus modi provident quidem sunt repellat sed eos adipisci. Pariatur, modi?
					Officia veritatis, provident ducimus alias fuga tempore ut reprehenderit, laudantium itaque est porro vitae eveniet? Tempore eveniet facere maxime corporis sequi, totam minus quas reiciendis, consectetur dolor veniam consequatur! Sequi.
					Perferendis expedita non, aperiam numquam fugit tempora recusandae culpa tempore inventore quidem vel voluptates vitae quisquam laboriosam ratione dolorum aspernatur sed voluptas eos? Modi hic expedita iste tempora sunt rerum.
					Reprehenderit iure, nam perferendis expedita praesentium rerum nulla, quisquam voluptate blanditiis architecto in molestias voluptatibus et exercitationem? Dignissimos adipisci explicabo est nostrum consectetur corrupti voluptatem. Nulla, a. Aspernatur, eum quisquam.
					Dolorum beatae repudiandae dolores nihil corporis soluta voluptatibus, ut commodi nulla eos quasi atque omnis delectus fuga incidunt libero vel. Similique adipisci dignissimos impedit amet deleniti nostrum libero sed et!
					Eveniet explicabo ipsum ex deserunt expedita, unde doloremque veritatis sunt iusto magnam placeat incidunt rerum est veniam, nesciunt itaque pariatur optio sit omnis deleniti quidem. Adipisci tempora aspernatur nihil dolore!
					Odit aliquid nemo exercitationem, iusto quam consequuntur, quas voluptatem porro quasi cum sint, repellendus fugiat laudantium dignissimos dolorum ipsum temporibus dicta quis ad modi laborum animi ab rerum! Odit, odio!
				</p>
			</div>
			</div>
		</div>
	</div>
	</DefaultBackground>
</Main>
