---
import Main from "../layouts/Main.astro"

import DefaultBackground from "../layouts/DefaultBackground.astro"
---

<Main>
	<DefaultBackground dark_theme={true}>
		<div class=" h-6 w-full flex flex-col items-center min-h-dvh p-5">
			<div class="bg-base-300/30 h-full w-full max-w-7xl backdrop-blur-md shadow-2xl rounded-2xl border border-base-100 flex flex-col items-center p-5">
				<h1 class=" text-6xl" style="font-family: UnifrakturCook;">Vagalehns</h1>
			</div>
		</div>
	</DefaultBackground>
</Main>
